header{
    background: #fff;
    padding-top: 15px;
}
.navbar{
    background: #333!important;
    border: 0;
    outline: 0;
    margin-top: 25px;
}
.navbar-default.navbar-nav>li>a{
    color:white;
}
.navbar-default.navbar-nav>li>a:hover{
    background: rgb(19, 18, 18);
    color:white;
}
.content .colon{
    margin:15px  0px;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

footer{
    background-color:#333;
    min-height: 200px;
    padding: 15px;
    margin:0 auto;
}
footer ul{
    list-style:none;
    margin:0;
    padding:0;
    
}

footer ul  span.fBaslık{
    font: 16px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color:white;

}

footer ul li{
    font: 16px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
    list-style:none;
    margin:0;
    padding:0;
    text-decoration: none;
    color:white;
    
    
}

footer ul li a{
font: 16px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
text-decoration: none;
color:white;
    
}
.content.colon2 h3{
    margin:0;
    padding:0;
}

.content.colon2 p{
    font:14 px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
    margin-top:15px;
}

/*Genel */
.margintop25{
    margin-top:25px;

}
.margintop35{
    margin-top:35px;
    
}
.marginbottom25{
    margin-bottom:25px;
    
}


section#giris a{
    color: #fff;
}

body{
   
}